node_modules
dist
coverage
.env
.env.local
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
frontend/build
frontend/dist
tmp
docker-compose.yml
repomix-output.xml 
